<div class="p-3 mb-2 bg-info text-white text-center text-uppercase">Pertenece a la liena <p class="font-italic" style="font-size: 30px;">{{nombreLine}}</p> </div>

<!-- pagina -->

<div class="padding" style="margin-bottom: 80px;">
  <div style=" float: right;  margin-top: 20px; margin-right: 60px;">
    <nav aria-label="Page navigation example">
      
      <p >Categoria por pag:{{categoriaLength}} </p>
      <button class="btn btn-secondary" (click)="paginacionDesde(-12)">
        Anteriores
      </button>
    
      <button class="btn btn-secondary" (click)="paginacionDesde(12)">
        Siguientes
      </button>
    </nav>
  </div>
</div>



<!-- Button trigger modal -->
<button style="margin: 50px;" type="button" class="d-inline p-2 bg-dark text-white" (click)="mostrarModal()" data-toggle="modal"
  data-target="#exampleModal">
  Agregar Categoria
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" [ngClass]="serviceModal.oculto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Categoria Nueva</h5>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate [formGroup]="forma" (ngSubmit)="guardarCategoria()">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre Categoria</label>
            <input formControlName="nombre" type="text" name="nombre" class="form-control" id="exampleInputEmail1"
              required="" aria-describedby="emailHelp">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Descrripcion</label>
            <input formControlName="descripcion" type="text" name="descripcion" class="form-control"
              id="exampleInputEmail1" required="" aria-describedby="emailHelp">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>




<div class="margen">
  <div class="row">
    <div class="col-lg-3" style="padding: 25px;" *ngFor="let categoria of categorias">
      <!-- Card -->
      <div class=" card weather-card">

        <!-- Card content -->
        <div class="card-body pb-3">
          <div class="btn btn-info" data-toggle="tooltip" data-html="true" title="Actualizar">
            <svg class="bi bi-pencil-square" (click)="mostrarModalActulizar(categoria)" data-toggle="modal"
              data-target="#exampleModalActulizar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </div>
          <div style="padding: 50px;" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  [checked]="categoria.estado"
              (change)="check($event,categoria._id)">
            <label class="form-check-label" for="inlineCheckbox1" *ngIf="categoria.estado">Visible</label>
            <label style="color: red;" class="form-check-label" for="inlineCheckbox1" *ngIf="!categoria.estado">Oculto</label>
          </div>



          <!-- Modal Actulizar categoria-->
          <div class="modal fade" id="exampleModalActulizar" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="serviceModal.oculto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actuliza Categoria </h5>
                  <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form ngNativeValidate [formGroup]="forma" (ngSubmit)="actulizaCategoria()">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre Categoria</label>
                      <input formControlName="nombre" type="text" name="nombre" class="form-control"
                        id="exampleInputEmail1" required="" aria-describedby="emailHelp">




                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Descrripcion</label>
                      <input formControlName="descripcion" type="text" name="descripcion" class="form-control"
                        id="exampleInputEmail1" required="" aria-describedby="emailHelp">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Actulizar Categoria</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">

                </div>
              </div>
            </div>
          </div>


          <!-- Title -->
          <h4 class="card-title font-weight-bold">{{categoria.nombre}}</h4>
          <!-- Text -->
          <p class="card-text"> {{categoria.descripcion}}</p>


          <div>

            <div style="text-align: center;">
              <button class="btn btn-success" [routerLink]="['/producto', categoria._id]">Adicionar Producto</button>
            </div>

          </div>
          <div class="collapse-content">
            <div class="collapse" id="collapseExample">
              <table class="table table-borderless table-sm mb-0">
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- Card -->

    </div>
  </div>
</div>