



<!-- Button trigger modal -->
<button style="margin: 50px;" type="button" class="btn btn-primary" (click)="mostrarModal()" data-toggle="modal" data-target="#exampleModal">
    Agregar Producto
  </button>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="serviceModal.oculto">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Producto Nuevo</h5>
            <button type="button" class="close"  aria-label="Close" (click)="cerrarModal()" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form ngNativeValidate [formGroup]= "forma"  (ngSubmit)="guardarProducto()">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre Producto</label>
                    <input formControlName="nombre" type="text" name="nombre" class="form-control" id="exampleInputEmail1" required="" aria-describedby="emailHelp">
           
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">Descripcion</label>
                    <input formControlName="descripcion" type="text" name="descripcion" class="form-control" id="exampleInputEmail1" required="" aria-describedby="emailHelp">
                  </div>


                  <div class="form-group">
                    <label for="exampleInputEmail2">Valor Credito</label>
                    <input formControlName="credito" type="number" name="credito" class="form-control" id="exampleInputEmail2" required="" aria-describedby="emailHelp">
           
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Valor Display</label>
                    <input formControlName="display" type="number" name="display" class="form-control" id="exampleInputEmail3" required="" aria-describedby="emailHelp">
           
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail4">Valor Unidad</label>
                    <input formControlName="unidad" type="number" name="unidad" class="form-control" id="exampleInputEmail4" required="" aria-describedby="emailHelp">
           
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail5">Referencia/Codigo</label>
                    <input formControlName="refinv" type="text" name="refinv" class="form-control" id="exampleInputEmail5" required="" aria-describedby="emailHelp">
           
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                    <button type="submit" class="btn btn-primary"  >Guardar</button>
                  </div>

                  

                </form>
          </div>
          <div class="modal-footer">
           
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  <div class="margen">
    <div class="row">
        <div class="col-lg-3" style="padding: 25px;" *ngFor="let producto of productos"  >
  <!-- Card -->
  <div class="card weather-card"    >
  
    <!-- Card content -->
    <div class="card-body pb-3"   >
  <div class="btn btn-info" data-toggle="tooltip" data-html="true" title="Actualizar">
    <svg  class="bi bi-pencil-square"  (click)="mostrarModalActulizar(producto)" data-toggle="modal" data-target="#exampleModalActulizar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
  </div>
  <div style="padding: 50px;" class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [checked]="producto.estado" (change)="check($event,producto._id)">
    <label class="form-check-label" for="inlineCheckbox1" *ngIf="producto.estado">Visible</label>
    <label style="color:brown;" class="form-check-label" for="inlineCheckbox1" *ngIf="!producto.estado">Oculto</label>
  </div>
    
  
  
      <!-- Modal Actulizar prodcuto-->
    <div class="modal fade" id="exampleModalActulizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="serviceModal.oculto">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actuliza Producto </h5>
            <button type="button" class="close"  aria-label="Close" (click)="cerrarModal()" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form ngNativeValidate [formGroup]= "forma" (ngSubmit)="actulizaProducto()"  >
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre Producto</label>
                    <input formControlName="nombre" type="text" name="nombre" class="form-control" id="exampleInputEmail1" required="" aria-describedby="emailHelp">
                   
  
  
  
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Descripcion</label>
                    <input formControlName="descripcion" type="text" name="descripcion" class="form-control" id="exampleInputEmail1" required="" aria-describedby="emailHelp">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail3">Valor Display</label>
                    <input formControlName="display" type="number" name="display" class="form-control" id="exampleInputEmail3" required="" aria-describedby="emailHelp">
           
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail4">Valor Unidad</label>
                    <input formControlName="unidad" type="number" name="unidad" class="form-control" id="exampleInputEmail4" required="" aria-describedby="emailHelp">
           
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail5">Referencia/Codigo</label>
                    <input formControlName="refinv" type="text" name="refinv" class="form-control" id="exampleInputEmail5" required="" aria-describedby="emailHelp">
           
                  </div>

               
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                    <button type="submit"  class="btn btn-primary"  >Actulizar Producto</button>
                  </div>
                </form>
          </div>
          <div class="modal-footer">
           
          </div>
        </div>
      </div>
    </div>
  
     
      <!-- Title -->
      <h4 class="card-title font-weight-bold">{{producto.descripcion}}</h4>
      <!-- Text -->
      <p class="card-text"> {{producto.nombre}}</p>
      <div class="d-flex justify-content-between">
        <p class="display-1 degree centrarImagen"><img class="tamanoImagen" src="assets/img/nestleLogo.jpg" alt=""></p>
        <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
      </div>
      
       <div>
  
  <div style="text-align: center;">
    <button  class="btn btn-success" [routerLink]="['/categoria', producto._id]"  >Adicionar Categoria</button>
  </div>
        
     </div>
        <div class="collapse-content">
          <div class="collapse" id="collapseExample">
            <table class="table table-borderless table-sm mb-0">
             </table>
          </div>
        </div>
      </div>
  
  </div>
  <!-- Card -->
  
  </div>
  </div>
  </div>